.left {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.rowStyle > a {
    text-decoration: none;
    color: #999;
}

.rowStyle > a:hover {
    text-decoration: none;
    color: #FA5275;
}

.rowStyle {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}