.data {
    background-color: white;
    border-radius: 2rem;
    padding-top: 1rem;
    margin-top: 2rem;
}

.column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;  
    padding: 2rem;
}

.columncolor1 {
    background-color: #FFE9ED;
    border-radius: 0.8rem;
}

.columncolor2 {
    background-color: #E4EEFF;
    border-radius: 0.8rem;
}

.columncolor3 {
    background-color: #EDE4FE;
    border-radius: 0.8rem;
}

.columncolor4 {
    background-color: #D7F1E3;
    border-radius: 0.8rem;
}

.columncolor5 {
    background-color: #F5F5FA;
    border-radius: 0.8rem;
}