.data {
    background-color: white;
    border-radius: 2rem;
    padding-top: 1rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;  
    padding: 2rem;
}

.box2 {
    height: 9rem;
}

.colname1 {
    background-color: white;
    padding-left: 2rem;
    margin-top: 2rem;
    border-radius: 2rem;
    padding-bottom: 4rem;
    margin-bottom: -6rem;
    padding-top: 3rem;
}

.colname2 {
    background-color: white;
    padding-top: 3rem;
    padding-left: 2rem;
    margin-top: -2rem;
    padding-bottom: 2rem;
    margin-bottom: -4rem;
}

.columncolor1 {
    background-color: #FFE9ED;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 17rem;
    height: 9rem;
    padding-bottom: 0;
}

.columncolor2 {
    background-color: #E4EEFF;
    border-radius: 0.8rem;
    padding: 1.5rem;
    width: 17rem;
    height: 9rem;
    padding-bottom: 0;
}

.columncolor3 {
    background-color: #EDE4FE;
    border-radius: 0.8rem;
    padding: 1.5rem;
    width: 17rem;
    height: 9rem;
    padding-bottom: 0;
}

.columncolor4 {
    background-color: #D7F1E3;
    border-radius: 0.8rem;
    padding: 1.5rem;
    width: 17rem;
    height: 9rem;
    padding-bottom: 0;
}

.columncolor5 {
    background-color: #F5F5FA;
    border-radius: 0.8rem;
    padding: 1.5rem;
    width: 17rem;
    height: 9rem;
}

.columnnocolor {
    border-style: solid;
    border-color: #F5F5FA;
    border-radius: 0.8rem;
    padding: 1.5rem;
}

.icon {
    background-color: #FF3D68;
    border-radius: 10rem;
    width: 4rem;
    height: 4rem;
    position: relative;
    top: -7.5rem; left: 11rem;
}

.icon2 {
    background-color: #3A89FF;
    border-radius: 10rem;
    width: 4rem;
    height: 4rem;
    position: relative;
    top: -7.5rem; left: 11rem;
}

.icon3 {
    background-color: #7530DD;
    border-radius: 10rem;
    width: 4rem;
    height: 4rem;
    position: relative;
    top: -7.5rem; left: 11rem;
}

.icon4 {
    background-color: #44CC7E;
    border-radius: 10rem;
    width: 4rem;
    height: 4rem;
    position: relative;
    top: -7.5rem; left: 11rem;
}

.innericon {
    position: relative;
    top: 1rem; left: 1rem;
}