.top {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 9rem;
    border-radius: 1.5rem;
    padding: 2rem;
}

.top > p {
    font-size: 0.1rem;
}

.title {
    font-weight: 600;
    color: #F45B74;
}

.go {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-end;
}

.text1 {
    font-size: 0.9rem;
    color: rgb(143, 140, 140);
    padding-top: 0.8rem;
}

.text2 {
    font-size: 0.7rem;
}

.first,
.second,
.third {
    border-radius: 0.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 13rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;
}

.first {
    background-color: #F45B74;
}

.second {
    background-color: #78A9F7;
}

.third {
    background-color: #B279F6;
}